<div class="topic">
    <div class="topic__img"><img src="../../assets/topics/geo.png" (click)="getQuestionOf('GEO')"></div>
    <div class="topic__img"><img src="../../assets/topics/history.png" (click)="getQuestionOf('HISTORY')"></div>
    <div class="topic__img"><img src="../../assets/topics/it.png" (click)="getQuestionOf('IT')"></div>
    <div class="topic__img"><img src="../../assets/topics/literature.png" (click)="getQuestionOf('LITERATURE')"></div>
    <div class="topic__img"><img src="../../assets/topics/movies.png" (click)="getQuestionOf('MOVIES')"></div>
    <div class="topic__img"><img src="../../assets/topics/music.png" (click)="getQuestionOf('MUSIC')"></div>
    <div class="topic__img"><img src="../../assets/topics/real.png" (click)="getQuestionOf('REAL')"></div>
    <div class="topic__img"><img src="../../assets/topics/sport.png" (click)="getQuestionOf('SPORT')"></div>
</div>