.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background: url('../../assets/finished-walp.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    min-height: 100%;
    min-width: 1024px;
    height: auto;
    .box {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 40vw;
        height: 70vh;
        margin-top: 7rem;
        background-color: #0505053e;
        border: 2px solid white;
        border-radius: 20px;
        text-align: center;
        &__title {
            margin-top: 5rem;
            color: white;
            font-weight: 500;
            font-size: 3rem;
        }
        &__amount {
            color: white;
            margin-top: 7rem;
            font-weight: 500;
            font-size: 7rem;
        }
        &__button {
            margin: 10rem auto 0 auto;
            button {
                font-weight: 600;
                border: 3px solid white;
                width: 16rem;
                height: 4rem;
                font-size: 2rem;
                border-radius: 7px;
                color: white;
                background-color: #050505c9;
                &:hover {
                    background-color: #451256;
                }
            }
        }
    }
}