$primary-color:#272727;
$secondary-color: #deeaee;
$border-color:#187563;
$hover-color:#272727;
$primary-font-size:2.4rem;
$secondary-font-size:4rem;
$answer-font-size:1.5rem;
$primary-font-family: 'Shadows Into Light',
serif;
$secondary-font-family: 'Crimson Text',
serif;
.success {
    $border-color: #e65959;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background: url('../../assets/question-walp.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    min-height: 100%;
    min-width: 1024px;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    .question {
        margin-top: 40vh;
        width: 80vw;
        height: 8rem;
        border-radius: 20px;
        background-color: #050505c1;
        font-family: $secondary-font-family;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        &__text {
            font-size: $primary-font-size;
            line-height: 50px;
            margin-left: 2rem;
        }
    }
    .answers {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 60%;
        margin: 3rem;
        margin-top: 0;
        &__option {
            .decorated-letter {
                font-weight: 500;
                margin-right: 0.6rem;
            }
            flex: 0 40%;
            margin: 2rem;
            margin-left: 0;
            margin-bottom: 0;
            background-color: #050505b1;
            font-size: $answer-font-size;
            color: $secondary-color;
            border-radius: 20px;
            padding: 1rem;
            text-align: left;
            font-family: $secondary-font-family;
            cursor: pointer;
            .option {
                color: $secondary-color;
            }
            &:hover {
                background-color: #050505;
            }
        }
    }
    .helpers {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 100%;
        justify-content: center;
        &__img {
            display: flex;
            margin: 2rem 5rem;
            flex-direction: column;
            justify-content: center;
            img {
                height: 8rem;
                cursor: pointer;
            }
        }
    }
    .phone-support {
        color: $border-color;
        font-family: $primary-font-family;
        font-size: $secondary-font-size;
        letter-spacing: 0.3ch;
    }
}

.finish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 3rem;
    .text {
        margin: 0 auto;
        font-family: $secondary-font-family;
        color: $border-color;
        font-size: $secondary-font-size;
        display: flex;
        flex-direction: column;
        line-height: 6rem;
        &__amount {
            margin-top: 3rem;
            font-size: 6rem;
        }
    }
}

.btn {
    display: flex;
    justify-content: center;
    button {
        margin-top: 5rem;
        background-color: $primary-color;
        font-family: $secondary-font-family;
        font-size: $secondary-font-size;
        outline: none;
        border: 10px solid $border-color;
        border-radius: 8%;
        color: $secondary-color;
        padding: 0 6rem;
    }
    button:hover {
        background-color: $border-color;
    }
}