<!-- <div class="toolbar">
    <div class="toolbar__logout">
        <button (click)="logout()">Log Out</button>
    </div>
    <div class="toolbar__title" *ngIf="started && !failed">Aktuális nyeremény: {{award | pointReplacer}} Ft.</div>
</div>
 -->

<div class="container" *ngIf="started && !failed">
    <div class=helpers>
        <div class="helpers__img"><img src="../../assets/half.png" class="img" (click)="getHalf()" [ngStyle]="{visibility: haveHalf ? 'visible' : 'hidden'}"></div>
        <div class="helpers__img"><img src="../../assets/information.png" class="img" (click)="doByTopic()" [ngStyle]="{visibility: haveTopic ? 'visible' : 'hidden'}"></div>
        <div class="helpers__img"><img src="../../assets/phone.jpg" class="img" (click)="getPhone()" [ngStyle]="{visibility: havePhone ? 'visible' : 'hidden'}"></div>
    </div>
    <div class="question">
        <div class="question__text">{{question.question}}</div>
    </div>
    <div class="answers">
        <div *ngFor="let option of question.answer_options; let i = index" class="answers__option" (click)="checkAnswer(i);" [ngStyle]="{backgroundColor:getColor(i)}">
            <span class='decorated-letter'>{{getLetter(i)}}:</span>
            <span class="option">{{option}}</span>
        </div>
    </div>
    <div class="phone-help" *ngIf="phoneHelping">{{randomIndexForPhone}}</div>
    <div class="topic-selector">
        <app-topic-selector *ngIf="choosingTopic" (getTopic)="getTopic($event)"></app-topic-selector>
    </div>