label {
    color: white;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 0.8rem;
}

select {
    display: block;
    margin-top: 0.3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background: url('../../assets/admin-walp.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    min-height: 100%;
    min-width: 1024px;
    display: flex;
    margin: 0 auto;
    font-weight: 600;
    .insertQ {
        margin: 0 auto;
        width: 50%;
        height: auto;
        border-radius: 20px;
        background-color: rgba(31, 29, 29, 0.475);
        justify-content: space-between;
        border: 2px solid rgba(161, 130, 130, 0.679);
        padding: 2rem 3rem 2rem 3rem;
        margin-top: 10vh;
        &__difficulty {
            input {
                width: 2.5rem;
            }
        }
        &__button {
            button {
                background-color: black;
                outline: white;
                border: 2px solid white;
                color: white;
                font-size: 1rem;
                border-radius: 4px;
                margin-top: 3rem;
                &:hover {
                    background-color: #45165d;
                }
                &:disabled {
                    background-color: grey;
                }
            }
        }
        &__category {
            margin-top: 0.8rem;
        }
    }
}